@model RapidBootcamp.WebApplication.Models.Customer

<html>
    <head>
        <title>Detail Customer</title>
    </head>
    <body>
        <h1>Detail Customer</h1>
        <h2>Customer Id: @Model.CustomerId</h2>
        <h2>Customer Name: @Model.CustomerName</h2>
        <h2>Address: @Model.Address</h2>
        <h2>City: @Model.City</h2>
        <h2>Email: @Model.Email</h2>
        <h2>Phone Number: @Model.PhoneNumber</h2>
    </body>
</html>