@model RapidBootcamp.WebApplication.Models.Product

<html>
    <head>
        <title>Detail Product</title>
    </head>
    <body>
        <h1>Detail Product</h1>
        <h2>Product Id: @Model.ProductId</h2>
        <h2>Product Name: @Model.ProductName</h2>
        <h2>Category Name: @Model.Category.CategoryName</h2>
        <h2>Stock: @Model.Stock dsadsa</h2>
        <h2>Price @Model.Price</h2>
    </body>
</html>